<div style="height:140px;"></div>
<footer class="py-3 my-4 bg-dark text-light fixed-bottom mb-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
        <li class="nav-item"><a class="navbar-brand active" href="{{ path('app_home')}}">{{ 'nav.page.Home'|trans({}, 'header-footer')|raw }}</a></li>
    </ul>
    <p class="text-center">&copy; 2024</p>
</footer>
